.img_wrap {
    margin-bottom: 20px;
    width: 750px;
    height: 468px;
    background: #ececec;
}

image {
    width: 100%;
    height: 100%;
}

.msg {
    margin: 20px 0;
    text-align: center;
}

.taro-img {
    width: 100%;
    height: 100%;
}
